@import "../../../styles/theme";
@import "../../../styles/mixins/flex";
@import "../../../styles/mixins/text";
@import "../../../styles/mixins/size";

.itemrow {
  @include flex(row, center, center);

  flex: 1;
  gap: 0.25rem;

  $cells: (
    1: 45%,
    2: 20%,
    3: 20%,
    4: 15%,
  );
  @each $position, $size in $cells {
    > :nth-child(#{$position}) {
      width: $size;
    }
  }

  .details {
    @include flex(row, center);

    cursor: pointer;
    gap: 1rem;

    .image {
      border-radius: 0.25rem;
      border: 1px solid $color-gray-3;
      height: 4.5rem;
      width: 4.5rem;
    }

    .text {
      @include flex(column);

      gap: 0.25rem;
      max-width: 8.25rem;

      .name {
        @include text(1rem, 700, $color-primary);
      }

      .code {
        @include text(0.75rem, 400, $color-gray-4);

        overflow: hidden;
        text-overflow: ellipsis;
      }
    }
  }

  .quantity {
    @include flex(row, center, center);

    .button {
      @include text(1.25rem, 700, $color-primary);

      padding: 0 0.5rem;
    }

    .input {
      @include size(2.5rem);

      appearance: none;
      border-radius: 0.25rem;
      border: 0.125rem solid $color-gray-2;
      font-size: 0.875rem;
      text-align: center;
    }
  }

  .price,
  .total {
    text-align: center;
  }
}

@media (max-width: 23.25rem) {
  .itemrow {
    $cells: (
      1: 35%,
      2: 30%,
      3: 17.5%,
      4: 17.5%,
    );
    @each $position, $size in $cells {
      > :nth-child(#{$position}) {
        width: $size;
      }
    }

    .details {
      @include flex(column, flex-start);

      .text {
        max-width: 4.5rem;
      }
    }
  }
}
