@import "../../../styles/mixins/flex";
@import "../../../styles/mixins/size";
@import "../../../styles/mixins/text";

.aggregator {
  @include flex(row, center, center);

  .button {
    @include text(1.25rem, 700, $color-primary);

    padding: 0 0.5rem;
  }

  .input {
    @include size(2.5rem);

    appearance: none;
    border-radius: 0.25rem;
    border: 0.125rem solid $color-gray-2;
    font-size: 0.875rem;
    text-align: center;
  }
}
