@import "../theme";
@import "../mixins/flex";
@import "../mixins/text";

.checkout {
  .cart,
  .summary {
    @include flex(column);

    gap: 2rem;
    overflow-y: scroll;

    .title {
      font-size: 1.125rem;
    }
  }

  .cart {
    flex: 1 1 48.5rem;
    padding: 2.5rem 2rem 2.5rem 3.5rem;
  }

  .summary {
    background-color: $color-gray-1;
    border-radius: 0 0.25rem 0.25rem 0;
    flex: 1 1 19.5rem;
    max-width: 19.5rem;
    padding: 2.5rem 2rem;
  }
}

@media (max-width: 47rem) {
  .checkout {
    border-radius: 0;
    flex-direction: column;
    margin: 0;

    .cart,
    .summary {
      border-radius: 0;
      flex: 1;
      max-width: 100%;
      overflow-y: initial;
      padding: 2rem 1rem;
    }
  }
}
