@import "../../../styles/theme";
@import "../../../styles/mixins/flex";
@import "../../../styles/mixins/text";

.item {
  @include flex(column);

  gap: 1rem;

  .title {
    @include text(0.75rem, 400, $color-gray-5);
  }

  .descriptions {
    @include flex(column);

    gap: 1.25rem;

    .description {
      @include flex(row, center, space-between);

      width: 100%;

      .name {
        @include text(0.875rem, 400);
      }

      .total {
        @include text(0.875rem, 700);
      }
    }
  }
}

.final {
  @include flex(row, flex-end, space-between);

  margin-top: auto;
  width: 100%;

  .label {
    @include text(0.875rem, 400);
  }

  .net {
    @include text(1.25rem, 700);
  }
}
