@mixin flex(
  $direction: row,
  $align-items: stretch,
  $justify-content: flex-start,
  $flex-wrap: nowrap
) {
  display: flex;

  @if $direction !=
    "column" and
    $direction !=
    "column-reverse" and
    $direction !=
    "row" and
    $direction !=
    "row-reverse"
  {
    @error "Property #{$direction} must be column | column-reverse | row | row-reverse.";
  }
  @if $direction != "row" {
    flex-direction: $direction;
  }

  @if $align-items !=
    "baseline" and
    $align-items !=
    "center" and
    $align-items !=
    "flex-end" and
    $align-items !=
    "flex-start" and
    $align-items !=
    "stretch"
  {
    @error "Property #{$align-items} must be baseline | center | flex-end | flex-start | stretch.";
  }
  @if $align-items != "stretch" {
    align-items: $align-items;
  }

  @if $justify-content !=
    "center" and
    $justify-content !=
    "end" and
    $justify-content !=
    "flex-end" and
    $justify-content !=
    "flex-start" and
    $justify-content !=
    "left" and
    $justify-content !=
    "right" and
    $justify-content !=
    "space-around" and
    $justify-content !=
    "space-between" and
    $justify-content !=
    "space-evenly" and
    $justify-content !=
    "start"
  {
    @error "Property #{$justify-content} must be center | end | flex-end | flex-start | left | right | space-around | space-between | space-evenly | start.";
  }
  @if $justify-content != "flex-start" {
    justify-content: $justify-content;
  }

  @if $flex-wrap !=
    "nowrap" and
    $flex-wrap !=
    "wrap" and
    $flex-wrap !=
    "wrap-reverse"
  {
    @error "Property #{$flex-wrap} must be nowrap | wrap | wrap-reverse.";
  }
  @if $flex-wrap != "nowrap" {
    flex-wrap: $wrap;
  }
}
