@import "../../../styles/mixins/flex";
@import "../../../styles/mixins/text";

.itemtable {
  @include flex(column);

  gap: 2rem;

  .head {
    @include flex(row);

    letter-spacing: 1px;

    .header {
      @include flex(row, center, center);
      @include text(0.625rem, 400, $color-gray-4);

      &:first-child {
        justify-content: flex-start;
      }

      $headers: (
        1: 45%,
        2: 20%,
        3: 20%,
        4: 15%,
      );
      @each $position, $size in $headers {
        &:nth-child(#{$position}) {
          width: $size;
        }
      }
    }
  }

  .body {
    @include flex(column);

    gap: 2rem;
  }
}
