@import "../../../styles/theme";
@import "../../../styles/mixins/flex";
@import "../../../styles/mixins/text";

.button {
  @include text(1rem, 700, $color-white);

  border-radius: 0.25rem;
  padding: 0.75rem 2.25rem;

  &_fill {
    width: 100%;
  }

  &_primary {
    background-color: $color-primary;
    color: $color-white;
  }

  &_secondary {
    border: 1px solid $color-primary;
    color: $color-primary;
  }
}
