@import "../../../styles/mixins/flex";
@import "../../../styles/mixins/text";
@import "../../../styles/theme";

.itemdetails {
  .close {
    cursor: pointer;
    margin-left: auto;
  }

  .image {
    border-radius: 0.25rem 0 0 0.25rem;
    flex: 1 1 48.5rem;
    max-width: calc(100% - 312px);
    object-fit: cover;
  }

  .aside {
    @include flex(column);

    border-radius: 0 0.25rem 0.25rem 0;
    flex: 1 1 19.5rem;
    max-width: 19.5rem;
    overflow-y: scroll;
    padding: 2.5rem 2rem;
    gap: 2rem;

    .title {
      @include flex(row, center, space-between);

      font-size: 1.125rem;

      .text {
        @include text(1.25rem, 700);
      }
    }
  }
}

@media (max-width: 47rem) {
  .itemdetails {
    padding-top: 3rem;

    .image,
    .aside {
      border-radius: 0;
      flex: 1;
      max-width: 100%;
      overflow-y: initial;
    }

    .image {
      padding: 0;
    }

    .aside {
      padding: 2rem 1rem;

      .close {
        position: absolute;
        top: 1rem;
        right: 1rem;
      }
    }
  }
}
