@import "../../../styles/theme";
@import "../../../styles/mixins/flex";

.frame {
  @include flex("row");

  background-color: $color-white;
  border-radius: 0.25rem;
  height: 100vh;
  margin: auto;
  max-width: 68rem;
  width: 100vw;
}

@media (min-width: 47rem) {
  .frame {
    max-height: 40.5rem;
  }
}

@media (max-width: 68rem) {
  .frame {
    margin: auto 2rem;
  }
}

@media (max-width: 47rem) {
  .frame {
    border-radius: 0;
    flex-direction: column;
    height: -webkit-fill-available;
    margin: 0;
  }
}
