@import "./theme";

*,
*::before,
*::after {
  box-sizing: border-box;
  color: $color-black;
  font-family: Avenir, "Avenir Next", "Segoe UI", sans-serif;
  margin: 0;
  outline: none;
  padding: 0;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  background-color: $color-black;
  background-image: url("/background.png");
  background-position: top left;
  background-size: cover;
  min-height: 100vh;
  line-height: 1;
  margin: 0;
  padding: 0;
}

a {
  display: block;
  text-decoration: none;
  text-align: center;
}

a,
button {
  cursor: pointer;
}

pre,
ul,
li,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button {
  margin: 0;
  padding: 0;
}

ul,
li {
  list-style: none;
}

button {
  background: transparent;
  border: 0;
  outline: 0;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  appearance: none;
}

input[type="number"] {
  appearance: textfield;
}

#__next {
  display: flex;
  min-height: 100vh;
}
